<h3>Please Fill The Form To Register!</h3>
<form method="post" action="result">

    <p> First Name:</p>
    <input type="text" name="FirstName" />

    <p> Last Name:</p>
    <input type="text" name="LastName" />

    <p>Phone Number:</p>
    <input type="number" name="PhoneNumber" />

    <p>Email:</p>
    <input type="email" name="Email" />

    <p>Password:</p>
    <input type="password" name="Password" />


    <input type="Submit" />


</form>